<htмl>
<head>
<title>Welcoмe to ansiЫe</title> </head>
<body>
playbooks/templates/index.
<hl>nginx, configured Ьу AnsiЫe</h1>
<p>If you сап see this, AnsiЫe successfully installed nginx.</p>
<р>{{ ansiЫe_мanaged }}</р>
</body> 
</htмl>
