<htмl>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <hl>nginx, configured by Ansible</hl>
  <p>If you сап see this, Ansible successfully installed nginx.</p>
  <р>{{ ansible_managed }}</р>
 </body>
</htмl>