<htмl>
  <head>
    <title>Welcoмe to ansible</title>
  </head>
  <body>
playbooks/templates/index.
  <hl>nginx, configured by Ansible</h1>
  <p>If you сап see this, Ansible successfully installed nginx.</p>
  <р>{{ ansibe_мanaged }}</р>
 </body>
</htмl>
